.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login {
  margin-top: 15px;
  font-family: "Poppins";
  color: rgb(39, 38, 67);
  font-size: 35px;
  font-weight: bold;
}