main {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 50%;
  height: 50%;
}

.button {
  background-color: #bae8e8;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  border: none;
  margin: 5px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(39, 38, 67);
  font-family: "Poppins";
}

.button:hover {
  background-color: #e3f6f5;
  color: rgb(39, 38, 67);
  text-decoration: none;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}

