main {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 45%;
  height: 45%;
}

.button {
  background-color: #555373;
  color: #F1EDFF !important;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  border: none;
  margin: 5px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(39, 38, 67);
  font-family: "Poppins";
  font-weight: bold;
}

.button:hover {
  background-color: #F1EDFF;
  color: #555373 !important;
  text-decoration: none;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}

