li {
    text-decoration: none;
    color: rgb(39, 38, 67);
    font-family: "Poppins";
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}

.welcome {
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.2rem;
    margin: 1.2rem;
    min-height: max(50vh, 500px);
}

button {
    font-size: 1.3rem;
}

main > section:first-child {
    border: darkgray 5px solid;
}

main > section:nth-child(2) {
    color: black;
}

main > section:nth-child(3) {
    color: black;
    max-width: 30%;

}