li {
    text-decoration: none;
    color: rgb(39, 38, 67);
    font-family: "Poppins";
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}

.welcome {
    font-size: 30px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ticket-form welcome ticket-list"
      ". . ."
      ". . .";
  }
  
  .ticket-form { grid-area: ticket-form; }
  
  .ticket-list { grid-area: ticket-list; }
  
  .welcome { grid-area: welcome; }
  