li {
    text-decoration: none;
    color: rgb(39, 38, 67);
    font-family: "Poppins";
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}

.welcome {
    font-size: 30px;
}

