.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  margin-right: .5rem;
  margin-top: .75rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #555373;
  color: #F1EDFF !important;
  cursor: pointer;
  border: none;
  margin: 15px 10px 10px 10px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(39, 38, 67);
  font-family: "Poppins";
  font-weight: bold;
}

.button:hover {
  background-color: #F1EDFF;
  color: #555373 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

