.ticketcard {
  border: 2px solid black;
  margin: 1% 0 1% 0;
  border-radius: 10px;
  color: #272743;
}

.button {
  background-color: #555373;
  color: #F1EDFF !important;
  cursor: pointer;
  border: none;
  margin: 15px 10px 10px 10px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: bold;
}

.button:hover {
  background-color: #F1EDFF;
  color: #555373 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}