.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup {
  font-family: "Poppins";
  color: rgb(39, 38, 67);
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}